
body {
    background-image: linear-gradient(#090422,#6f0d72, rgb(30, 30, 122));
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
  }
  
  body {
      color: rgb(249, 246, 251);
  }
  
  body {
      text-align: center;
  }

    